@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  background-color: f0f3f5;
}
body {
  display: flex;
  padding: 0px 40px 0px 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.header {
  display: flex;
  align-items: center;
  gap: 51px;
}

.header a {
  text-decoration: none; /* no underline */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 240% */
  position: relative; /* Required for the ::after element */
}

.header a::after {
  content: ""; /* Empty content for the underline */
  position: absolute;
  width: 50%; /* Center half of the text */
  height: 3px; /* Thickness of the underline */
  background-color: var(--Dark-Gray, #484041); /* Color of the underline */
  bottom: -5px; /* Distance from the text */
  left: 25%; /* Center the underline */
  transform: scaleX(0); /* Start with no underline */
  transform-origin: center;
  transition: transform 0.3s ease; /* Animation for underline */
  border-radius: 4px;
}

.header a:hover::after {
  transform: scaleX(1); /* Show the underline on hover */
}

.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headerButton {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 12px;
  background: var(--Dark-Gray, #484041);
  text-align: center;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}
.titleText {
  width: 1301px;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 80px;
  font-style: normal;
  font-weight: 600;
  line-height: 84px; /* 105% */
  letter-spacing: 2px;
}
.subtitleText {
  display: flex;
  width: 968px;
  height: 80px;
  flex-direction: column;
  justify-content: center;

  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}
.content {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
.messageBox {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.form {
  display: flex;
  height: auto;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  align-self: stretch;
  border-radius: 16px;
  background: var(--Dark-Gray, #484041);
}
.formTop {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}
.formTop input {
  width: 320px;
  height: 85px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid var(--Light-Gray, #9a8285);
  background: #fff;
  color: var(--Light-Gray, #9a8285);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  padding: 0 10px 0 29px;
}
.formBottom textarea {
  padding: 10px 10px 0 29px;

  height: 421px;
  width: 700px;
  flex-shrink: 0;
  align-self: stretch;
  flex-shrink: 0;
  border-radius: 16px;
  border: 2px solid var(--Light-Gray, #9a8285);
  background: #fff;
  color: var(--Light-Gray, #9a8285);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sendButton {
  display: flex;
  width: 180px;
  padding: 3px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: var(--Blue, #1098f7);
  display: flex;

  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  position: absolute;
  top: 750px;
  right: 725px;
}
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.testimonialsTitle {
  width: 472px;
  height: 50px;

  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card {
  display: flex;
  width: 498px;
  align-items: flex-start;
  gap: 11px;
  padding: 10px 0px 0px 10px;
  border-radius: 12px;
  border: 2px solid var(--Dark-Gray, #484041);
}
.card img {
  width: 90px;
  height: 113px;
  flex-shrink: 0;
}
.card p {
  width: 366px;
  height: 94px;
  flex-shrink: 0;

  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.tColorLightGray {
  color: var(--Light-Gray, #9a8285);
}
.tColorDarkGray {
  color: var(--Dark-Gray, #484041);
}
.tColorWhite {
  color: var(--White, #ffffff);
  text-decoration: none;
}
